@import '../../styles/colors/_index.scss';

.login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(222,164,202,0.5) 0%, rgba(240,231,228,1) 100%);

    &--button-area {
        width: 100%;
    }

    &--box {
        background-color: $background-color;
        padding: 40px;
        width: 50%;
        box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.50);
        border-radius: 10px;

        @media (max-width: 425px) {
            width: 85%;
        }

        @media (min-width: 1024px) {
            width: 30%;
        }
    }
}