<div fxLayout="column" fxLayoutGap="30px">
  <search-bar></search-bar>
  <div fxLayout="row" class="flex-wrap">
    <unidade-card fxFlex="50"></unidade-card>
    <unidade-card fxFlex="50"></unidade-card>
    <unidade-card fxFlex="50"></unidade-card>
    <unidade-card fxFlex="50"></unidade-card>
    <unidade-card fxFlex="50"></unidade-card>
    <unidade-card fxFlex="50"></unidade-card>
    <unidade-card fxFlex="50"></unidade-card>
  </div>
</div>
<fab-button (click)="createUnidade()"></fab-button>