<div fxFlex fxLayout="row" fxLayoutGap="10px">
  <mat-form-field fxFlex="20">
    <input matInput type="text" placeholder="Data">
  </mat-form-field>
  <mat-form-field fxFlex="20">
    <input matInput type="text" placeholder="Unidade">
  </mat-form-field>
  <mat-form-field fxFlex="20">
    <input matInput type="text" placeholder="Número Lançamento">
  </mat-form-field>
  <mat-form-field fxFlex="20">
    <input matInput type="text" placeholder="Caixas">
  </mat-form-field>
  <mat-form-field fxFlex="20">
    <input matInput type="text" placeholder="Contas">
  </mat-form-field>
</div>
<div fxFlex fxLayout="row" fxLayoutGap="10px">
  <mat-form-field fxFlex="20">
    <input matInput type="text" placeholder="Código (Subs)">
  </mat-form-field>
  <mat-form-field fxFlex="20">
    <input matInput type="text" placeholder="Aluno">
  </mat-form-field>
  <mat-form-field fxFlex="20">
    <input matInput type="text" placeholder="CPF">
  </mat-form-field>
  <mat-form-field fxFlex="20">
    <input matInput type="text" placeholder="Recibo Nº">
  </mat-form-field>
  <mat-form-field fxFlex="20">
    <input matInput type="text" placeholder="Tipo de Taxa">
  </mat-form-field>
</div>
<div fxFlex fxLayout="row" fxLayoutGap="10px">
  <mat-form-field fxFlex="20">
    <input matInput type="text" placeholder="Dinheiro R$">
  </mat-form-field>
  <mat-form-field fxFlex="20">
    <input matInput type="text" placeholder="Cartão de Crédito R$">
  </mat-form-field>
  <mat-form-field fxFlex="20">
    <input matInput type="text" placeholder="Cartão de Cheque">
  </mat-form-field>
  <mat-form-field fxFlex="20">
    <input matInput type="text" placeholder="Cheque R$">
  </mat-form-field>
  <mat-form-field fxFlex="20">
    <input matInput type="text" placeholder="Cartão de Débito">
  </mat-form-field>
</div>
<div fxFlex fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
  <mat-form-field fxFlex="20">
    <input matInput type="text" placeholder="Valor Bruto R$">
  </mat-form-field>
  <mat-form-field fxFlex="20">
    <input matInput type="text" placeholder="Total Recebito R$">
  </mat-form-field>
</div>
