<div class="app--container">
  <mat-sidenav-container>
    <mat-sidenav class="app--sidenav" mode="side" opened>
      <sidenav-body></sidenav-body>
    </mat-sidenav>
    <mat-sidenav-content class="app--content">
      <div fxLayout="row" fxLayoutGap="10px" class="app--location-area flex-align-center">
        <mat-icon class="app--location-area--icon">desktop_windows</mat-icon>
        <span class="app--location-area--current">CADASTROS > UNIDADE</span>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>