<div class="app--container">
  <mat-sidenav-container>
    <mat-sidenav class="app--sidenav" mode="side" opened>
      <sidenav-body></sidenav-body>
    </mat-sidenav>
    <mat-sidenav-content class="app--content">
      <div class="app--content--area">
        <div fxLayout="column" fxLayoutGap="4px" class="app--location-area">
          <span class="app--location-area--current">{{routeBanner.mainRoute}}</span>
          <span class="app--location-area--route">{{routeBanner.childrenRoute}}</span>
        </div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>