<div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field>
      <input type="text" matInput placeholder="Nome aluno"/>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="CPF"/>
    </mat-form-field>
    <mat-form-field>
        <input type="text" matInput placeholder="Subscrição"/>
      </mat-form-field>
      <mat-form-field>
          <input type="text" matInput placeholder="Apelido"/>
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Curso"/>
          </mat-form-field>
  </div>
  <div fxLayout="row">
      <button class="uppercase" mat-button (click)="openConfirm()">Salvar</button>
    </div>
 
  <!-- <button mat-raised-button class="uppercase">Salvar</button> -->